span.color1{
	background-color:orange;
}
span.color2{
	background-color:lightgreen;
}
span.color3{
	background-color:red;
}
span.color4{
	background-color:cyan;
}
span.color5{
	background-color:magenta;
}

body{
	text-align:justify;
}
